
@import "../../Theme.scss";

.shift-panel {

    align-items: center;

    &__header {
        width: 90%;
        padding: 1rem 0;
        margin: 3rem 0;
        text-align: center;
        background-color: $secondary-color;
        color: #EEE;
        text-transform: uppercase;
        border-radius: 5px;
        letter-spacing: 5px;
    }
}