@import "../../Theme.scss";


.request-panel {

    padding: 2rem;
  

    &__header {
        padding: 1rem;
        padding-left: 2rem;
        border-radius: 5px;
        background-color: $secondary-color;
        color: #EEE;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &__request-container {
       padding: 1rem;
       padding-bottom: 2rem;
    }
}