
.shift {

    display: flex;
    align-items: center;
    margin: 1rem 0;

    > * {
        margin: 0 1rem;
    }

    &__date {
        cursor: pointer;
        font-size: 1.6rem;
        transform: scale(1);
        transition: all .2s;

        &:hover {
            transform: scale(1.1);
            color:rgb(232,85,61);
            font-weight: bold;
        }

        &:active {
            transform: scale(1);
            color: rgb(232,85,61);
        }
    }

    &__total-hours {
        font-size: 1.6rem;
        font-weight: bold;
    }
}