@import '../../Theme.scss';

.punch-container {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__last-punch {
        margin: 3rem 0;
        margin-bottom: 2rem;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        font-family: 'Roboto Mono', monospace;
        background-color: $tertiary-color;

        & h1 {
           font-size: 3rem;
           text-align: center;
           font-weight: bold;
           padding: .5rem;
        }
        
        & p{
            font-size: 2rem;
            padding: .5rem;
        }
    }

    &__button-container {
        display: flex;
    }
}